.swiper-gallery {
  width: 80%;
  height: 300px;
  overflow: hidden;
}

.swapper-wrapper-gallery {
  position: relative;
  display: flex;
  align-items: center;
}

.swiper-slide.swiper-slide-gallery {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  transition: all 0.7s ease;
  height: 254px;
  width: 475px;
  align-self: center;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.swiper-slide.swiper-slide-gallery.swiper-slide-active {
  color: #fff;
  height: 254px;
  width: 475px;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .swiper-slide.swiper-slide-gallery.swiper-slide-active {
    color: #fff;
    width: 540px;
    height: 295px;
    z-index: 2;
  }

  .swiper-slide-gallery.swiper-slide-prev {
    left: 25%;
  }

  .swiper-slide-gallery.swiper-slide-next {
    right: 25%;
  }
}
